
<h1> Weclome to the Marketplace! Browse all the games</h1>
<h2> Created by <%= link_to @listing.created_by?, user_path(@listing.users.first.id) %> </h2>

    <%=@listing.name %>
    <%=@listing.genre %>
    <%=@listing.price %>
    <%=@listing.platform %>
    <%=@listing.publisher %>


<h2> Comments </h2>
<% @listing.comments.each do |comment| %>
    <h3><%= comment.user.username %> <br></h3>
    <%= comment.content %><br>
    Posted at: <%= comment.post_time? %>
   
 
 <%end%>
 


<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@comment.errors.count, "error") %>
      prohibited this comment from being saved:
    </h2>
 
    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <%end%> <!-- WHY 2 ENDS MAKE THIS WORK???? -->

<%= form_for(@comment) do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :listing_id, value: @listing.id %>

    <%= f.submit "Add Comment" %>
<%end%>
