<h1> This will show individual listings like a ebay page </h1>


    <%=@listing.name %>
    <%=@listing.genre %>
    <%=@listing.price %>
    <%=@listing.platform %>
    <%=@listing.publisher %>

<h2> Will have a button to add a new comment to the listing </h2>

