<!DOCTYPE html>
<html>
  <head>
    <title>GameLockerPro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class='clearfix'>
  <div class="left-nav">
    <ul>
      <li><%= link_to "Home", user_path(current_user) %></li>
       <li><%= link_to "New Listing", new_user_listing_path(session[:user_id]) %></li>
    </ul>
  </div>
  <div class="right-nav">
    <ul>
     <%= link_to "Marketplace", listings_path%>
    </ul>
  </div>
  </header>
  <div class ='content'>
  <header>Currently logged in as <%=current_user.username%></header>
    <%= yield %>
  </div>
  </body>
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
  <%end%>
</html>
